@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* globales */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #707070;
}
    a{
        text-decoration: none; /* quitar subrayado */
    }
    h1{
        font-size: 40px;
        font-weight: 600;
        color: #FFB968;
    }

/*### header  ###*/
header{
    width: 1100px;
    margin: auto;   /* centrar la caja */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header a{
        color: #707070;
        font-weight: 600;
    }

    header img{
        width: 60px;
        vertical-align: middle;
        margin-right: 16px;
    }

    header nav a{
        padding: 12px;
    }

/*### hero-banner ###*/
#hero-banner{
    height: 500px;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -120px;
    display: flex;
}
    #hero-banner div{
        width: 1100px;
        margin: auto;
    }
    #hero-banner div p{
        width: 400px;
        margin-top: 24px;
    }

/*### main ###*/
main{
    width: 1100px;
    margin: auto;
}

    /* separador */
    #separador{
        height: 320px;
        text-align: center;
        padding-top: 98px;
    }
    #separador h2{
        color: #FFB968;
        font-size: 32px;
        margin-bottom: 20px;
    }
    #separador p{
        width: 600px;
        margin: auto;
    }

/*### Promos ###*/    
#promos{
    display: flex;
    flex-wrap: wrap; /* respeta los anchos de los elementos internos */
}
    #promos h2{
        margin-bottom: 32px;
        font-size: 32px;
    }

    #promo-1, #promo-2{
        width: 550px;
        height: 550px;
        color: #fff;
       /* padding-top: 100px;
        padding-left: 80px;
        padding-right: 80px; */
        /* padding: 100px 80px; */
        padding: 100px 80px 0px 80px;
    }

    #promo-1 {
        background-color: #807871;
    }
    #promo-2 {
        background-color: #E3B684;
    }

/*### separador-2 ###*/    
    #separador-2{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFB968;
    }

/*### historia ###*/    
#historia{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    color: #fff;
}
    #historia article {
        width: 339px;
        background-color: #807871;
    }
    #historia h2{
        margin-top: 18px;
        margin-left: 36px;
    }
    #historia p{
        margin: 12px 36px 24px 36px;
    }
    #historia img {
        width: 339px;
        height: 301px;
    }

/*### contacto ###*/    
#contacto{
    height: 580px;
    background-image: url(../imgs/bg-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -130px;
    margin-bottom: 80px;
    padding-top: 50px;
}
    #contacto form{
        width: 698px;
        margin: auto;
        padding: 14px 28px 20px 28px;
        background-color: #fff;
        border: #CECECE solid 1px;
        border-radius: 12px;
    }

    #contacto input,
    #contacto textarea
    {
        width: 100%;
        margin: 8px 0px 14px 0px;
        padding: 4px 8px;
        border: 1px solid #CECECE;
        border-radius: 6px;
        font-family: Raleway, sans-serif;
    }
    #contacto textarea
    {
        height: 80px;
        resize: none;
    }
    #contacto button{
        width: 200px;
        padding: 4px 0px;
        background-color: #F7BB74;
        border: 1px solid #FA9E30;
        border-radius: 6px;
        font-family: Raleway, sans-serif;
        cursor: pointer;
        transition: 500ms;
    }
    #contacto button:hover {
        background-color: #ffcf94;
    }


/*### footer ###*/    
footer{
    height: 240px;
    background-color: #807871;
}    

