@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
}

h1{
    margin: 12px 0px;
}
h2{
    background-color: rgb(191, 253, 184);
}
ul{
    margin: 24px;
}

#naranja{
    width: 200px;
    height: 150px;
    background-color: rgb(255, 179, 125);
    padding: 50px;
}
#verde{
    width: 200px;
    height: 150px;
    background-color: rgb(125, 255, 149);
}